# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
cv_env/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Data
data/
*.h5
*.pkl
*.pth
*.ckpt

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
